<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scut.melody.dao.WechatAuthMapper">
  <resultMap id="BaseResultMap" type="scut.melody.entity.WechatAuth">
    <id column="wechat_auth_id" jdbcType="INTEGER" property="wechatAuthId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    wechat_auth_id, user_id, openid, create_time, update_time
  </sql>

  <select id="count" resultType="java.lang.Integer">
    select count(1) from wechat_auth
  </select>

  <select id="selectrangepageno"  resultType="java.lang.Integer">
    select count(*) from wechat_auth where wechat_auth_id between #{start,jdbcType = INTEGER} and #{end,jdbcType = INTEGER }
  </select>

  <select id="findopenidbyuserid"  resultType="java.lang.String">
    select openid from wechat_auth where user_id=#{userid,jdbcType = INTEGER}
  </select>

  <select id="quereywithpage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from wechat_auth where wechat_auth_id between #{start,jdbcType = INTEGER} and #{end,jdbcType = INTEGER } limit #{pstart,jdbcType=INTEGER},#{psize,jdbcType=INTEGER}
  </select>

  <select id="queryallwithpage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     select * from wechat_auth where wechat_auth_id limit #{start,jdbcType = INTEGER} , #{end,jdbcType = INTEGER }
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wechat_auth
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wechat_auth
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="scut.melody.entity.WechatAuth">
    insert into wechat_auth (wechat_auth_id, user_id, openid, 
      create_time, update_time)
    values (#{wechatAuthId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="scut.melody.entity.WechatAuth">
    insert into wechat_auth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wechatAuthId != null">
        wechat_auth_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wechatAuthId != null">
        #{wechatAuthId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="scut.melody.entity.WechatAuth">
    update wechat_auth
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="scut.melody.entity.WechatAuth">
    update wechat_auth
    set user_id = #{userId,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where wechat_auth_id = #{wechatAuthId,jdbcType=INTEGER}
  </update>

</mapper>